/*-----------------------------------------------------------------------------------------------------

  Base Stylesheet

  [Table of contents]

  1. Playing Area
  2. Text Information

------------------------------------------------------------------------------------------------------*/

#header {
	display: block;
	width: 100%;
	position: fixed;
	background: #FFFFFF;
	z-index: 9999;
	padding: 10px;
	border-bottom: 1px solid #000;
	  
		.header-inner {
			width: 60%;
			margin: 0 auto;
			
				li {
		  		display: inline-block;
				min-width: 100px;
				margin: 5px 10px;
				}
		}
}

/*-----------------------
  1. Playing Area
------------------------*/
#playing-area {
	width: 100%;
	margin: 0 auto;
	display: block;
	position: relative;
	height: 75%;
	overflow: hidden;
	top: 25%;
	
		#deck {
			width: 11.75em;
			margin: 0 auto;
		}
		
		#hand {
			position: absolute;
			bottom: 100px;
			left: 33%;
			
				#hand-inner {
					position: relative;
					left: -75%;
				}
		}

		.cardArea {
			position: relative;
		}
}

/*-----------------------
  2. Text Information
------------------------*/
#text-info {
	display: none;
	width: 55%;
	margin: 0 auto;
	
		.text-box {
			width: 45%;
			display: inline-block;
			
				&:last-child {
					float: right;
				}
				
				textarea {
					width: 100%;
					resize: vertical;
				}
		}
}
