/*-----------------------------------------------------------------------------------------------------

  Base Stylesheet

  [Table of contents]

  1. Playing Area
  2. Text Information

------------------------------------------------------------------------------------------------------*/
/* line 12, ../../sass/breakpoints/base.scss */
#header {
  display: block;
  width: 100%;
  position: fixed;
  background: #FFFFFF;
  z-index: 9999;
  padding: 10px;
  border-bottom: 1px solid #000;
}
/* line 21, ../../sass/breakpoints/base.scss */
#header .header-inner {
  width: 60%;
  margin: 0 auto;
}
/* line 25, ../../sass/breakpoints/base.scss */
#header .header-inner li {
  display: inline-block;
  min-width: 100px;
  margin: 5px 10px;
}

/*-----------------------
  1. Playing Area
------------------------*/
/* line 36, ../../sass/breakpoints/base.scss */
#playing-area {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
  height: 75%;
  overflow: hidden;
  top: 25%;
}
/* line 45, ../../sass/breakpoints/base.scss */
#playing-area #deck {
  width: 11.75em;
  margin: 0 auto;
}
/* line 50, ../../sass/breakpoints/base.scss */
#playing-area #hand {
  position: absolute;
  bottom: 100px;
  left: 33%;
}
/* line 55, ../../sass/breakpoints/base.scss */
#playing-area #hand #hand-inner {
  position: relative;
  left: -75%;
}
/* line 61, ../../sass/breakpoints/base.scss */
#playing-area .cardArea {
  position: relative;
}

/*-----------------------
  2. Text Information
------------------------*/
/* line 69, ../../sass/breakpoints/base.scss */
#text-info {
  display: none;
  width: 55%;
  margin: 0 auto;
}
/* line 74, ../../sass/breakpoints/base.scss */
#text-info .text-box {
  width: 45%;
  display: inline-block;
}
/* line 78, ../../sass/breakpoints/base.scss */
#text-info .text-box:last-child {
  float: right;
}
/* line 82, ../../sass/breakpoints/base.scss */
#text-info .text-box textarea {
  width: 100%;
  resize: vertical;
}
