/*-----------------------------------------------------------------------------------------------------

  Card Stylesheet

  [Table of contents]

  1. General Card
  	1.1 Front
  	  1.1.1 Spots
  	1.2 Colour
  	
  2. Hand Cards

------------------------------------------------------------------------------------------------------*/

/*-----------------------
  1. General Card
------------------------*/
.card {
  background-image: url("../img/cardback.gif");
  border: 1px solid #000;
  @include border-radius (3px);
  font-size: 30pt;
  position: absolute;
  width:  3.75em; 
  height: 5.00em;
  z-index: 0;
  
  /*-----------------------
  	1.1 Front
  ------------------------*/
	.front {
	  background-color: #ffffff;
	  color: #000000;
	  @include border-radius (3px);
	  position: absolute;
	  width: 100%;
	  height: 100%;
	}
	
	.index {
	  font-size: 50%;
	  font-weight: bold;
	  text-align: center;
	  position: absolute;
	  left: 0.25em;
	  top:  0.25em;
	  
	  	&.bottom {
			top: inherit;
			left: inherit;
			bottom: 0.25em;
			right: 0.25em;  
			@include rotate (180);	
	  	}
	}
	
	.ace {
	  font-size: 270%;
	  position: absolute;
	  left: 0.325em;
	  top: 0.400em;
	}
	
	.face {
	  border: 1px solid #000000;
	  position: absolute;
	  left: 0.50em;
	  top:  0.45em;
	  width:  2.6em;
	  height: 4.0em;
	}
	
  /*-----------------------
    1.1.1 Spots
  ------------------------*/	
	.spotA1 { position: absolute; left: 0.60em; top: 0.5em; }
	.spotA2 { position: absolute; left: 0.60em; top: 1.5em; }
	.spotA3 { position: absolute; left: 0.60em; top: 2.0em; }
	.spotA4 { position: absolute; left: 0.60em; top: 2.5em; }
	.spotA5 { position: absolute; left: 0.60em; top: 3.5em; }
	
	.spotB1 { position: absolute; left: 1.55em; top: 0.5em; }
	.spotB2 { position: absolute; left: 1.55em; top: 1.0em; }
	.spotB3 { position: absolute; left: 1.55em; top: 2.0em; }
	.spotB4 { position: absolute; left: 1.55em; top: 3.0em; }
	.spotB5 { position: absolute; left: 1.55em; top: 3.5em; }
	
	.spotC1 { position: absolute; left: 2.50em; top: 0.5em; }
	.spotC2 { position: absolute; left: 2.50em; top: 1.5em; }
	.spotC3 { position: absolute; left: 2.50em; top: 2.0em; }
	.spotC4 { position: absolute; left: 2.50em; top: 2.5em; }
	.spotC5 { position: absolute; left: 2.50em; top: 3.5em; }
	
	.spotA4,
	.spotB4,
	.spotC4,
	.spotA5,
	.spotB5,
	.spotC5 {
		@include rotate (180);	
	}
	
  /*-----------------------
    1.2 Colour
  ------------------------*/
    .red { color: #ff0000; }
}

/*-----------------------
  1. Hand Cards
------------------------*/
#hand {
  .card {
	
    &:hover {
      z-index: 1;
    }
  }
}